<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>FlexiCharge API</h1>
  <div class="card">
    <div class="card-body">
      <p><b>GET</b> /chargers</p>
    </div>
    <div class="card">
      <div class="card-body">
        <p><b>GET</b> /chargers/{id}</p>
      </div>
      <div class="card">
        <div class="card-body">
          <p><b>GET</b> /chargers/chargers/available</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p><b>PUT</b> /chargers/{id}</p>
        </div>
        <div class="card">
          <div class="card-body">
            <p><b>DELETE</b> /chargers/{id}</p>
          </div>
        </div>
         <div class="card">
          <div class="card-body">
            <p><b>POST</b> /sign-up</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p><b>POST</b> /verify</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p><b>POST</b> /sign-in</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p><b>POST</b> /admin/sign-in</p>
          </div>
        </div>
</body>

</html> 